<div class="row">
    <div class="col-md-12" >
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Sprint número: {{sprint.id}}</h4>
                <p>Proyecto: {{sprint.project.name}}</p>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <h4><b>Días:</b> {{sprint.days}}</h4>
                </div>
                <div class="col-md-12">
                    <h4><b>Comentario:</b> {{sprint.comment}}</h4>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" >
        <div class="card">
            <app-user-story-list></app-user-story-list>
        </div>
    </div>
  </div>