<div class="card">
	<div class="card-header card-header-primary">
		<h4 class="card-title">Crear una tarea</h4>
		<p class="card-category">Ingresa la información de la tarea.</p>
	</div>
	<div class="card-body">
		<form (submit)="createTask()">
			<div class = "form-group">
				<label class="bmd-label-floating" for="duration">Duración</label>
				<input class="form-control" type="number" id="duration" name="duration" [(ngModel)]="duration">
			</div>
			<div class = "form-group">
				<label class="bmd-label-floating" for="name">Nombre</label>
				<input class="form-control" type="text" id="name" name="name" [(ngModel)]="name">
			</div>
			<div class = "form-group">
				<label class="bmd-label-floating" for="completed">Completado</label>
				<select class="form-control" id="completed" name="completed" [(ngModel)]="completed">
					<option value="true">Sí</option>
					<option value="false">No</option>
				</select>
			</div>
			<div class = "form-group">
				<label class="bmd-label-floating" for="user_story_id">ID de historia de usuario</label>
				<input class="form-control" type="number" id="user_story_id" name="user_story_id" [(ngModel)]="user_story_id">
			</div>
			<button type="submit" class="btn btn-primary pull-right">Agregar</button>
			<div class="clearfix"></div>
		</form>
	</div>
</div>